body {
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  letter-spacing: .03rem;
  background: #000 url('../images/pattern-rings.svg') no-repeat ;
  background-position-y: 35%;
  padding: 0;
  margin: 0;
}
p {
  margin-bottom: 0;
}

.container {
  margin: auto 100px;
}

.header {
  position: absolute;
  margin-top: 100px;
}

.select-language {
  border: 0;
  box-shadow: none;
  flex: 1;
  color: #fff;
  font-size: 1.2rem;
  background-color: #000;
  background-image: none;

  position: relative;
  display: flex;
  width: 8rem;
  height: 2rem;
  overflow: hidden;
}

.profile__language {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.profile__language .label-language img {
  height: 24px;
  padding-right: 20px;
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile__details {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
}
.profile__details-title {
  font-size: 3rem;
}

.profile__details-subtitle {
  font-weight: bold;
}

.profile__details p {
  font-size: 1rem;
}

.profile__details-social {
  padding: 50px 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.profile__picture {
  height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;

  background: url('../images/pattern-circle.svg') no-repeat ;
  background-position-y: 50%;
  background-position-x: 10%;
}

.profile__picture-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.profile__picture-img img {
  position: relative;
  display: flex;
  height: 100%;
}

a {
  color: #fff;
}

@media only screen and (max-width: 900px) {
  
  .header {
    margin: 50px 0;
    display: flex;
    position: relative;
  }
  
  .profile {
    flex-direction: column-reverse;
    margin: auto 30px;
  }

  .profile__picture-img {
    height: 530px;
    padding: 30px;
  }
}
